# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.playwright-mcp

# Env files
.env

# Chatmodes
.github/chatmodes

# VScode configuration
.vscode/